{% extends 'base.html' %}
{% block title %}퀴즈 안내{% endblock %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/screens/form.css' %}">
    <style>
        .present-img {
            width: 10rem;
            height: 8rem;
            vertical-align: middle;
            border-style: none;
            box-sizing: content-box;
        }

    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5DW7ZWHVMS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5DW7ZWHVMS');
    </script>
</head>

<article class="start">
    <div style="text-align : center;" class="posTitle">
        <p>#상품_지급_방식</p>
    </div>

    <div class="posBorder">
        <p style="text-align:center;" class="posContent">
            별조각과 관련된 퀴즈를 통해 순위를 매겨 1등, 2등, 3등에게 <br>
            기프티콘 상품을 지급할 예정입니다. 만약 공동 순위가 나올 경우, <br>
            공동 순위자들끼리 추첨을 통해 상품 전달을 진행할 예정입니다.<br>
            꼭 이름, 학번, 전화번호가 맞는지 한 번 더 확인해 주세요!</p>

        <img id="present-img" src="{% static 'image/present.png' %}">

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="custom-field">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit">퀴즈 풀기 Go!</button>
        </form>

        <!-- 배경 작업 -->
        <div class="constelacao"></div>
        <div class="chuvaMeteoro"></div>
        <!-- 배경 작업 끝 -->
    </div>
</article>

{% endblock %}